<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    </head>
    <body>
      <div class="logo">
        <img src="logo.png" >
      </div>
    <div class="header">
      <div class="navbar">
          <b><a href="index.html">HOME</a>
              <a href="about.html">ABOUT</a></b>
              <div class="drop">
                <button class="dropdown"><b>EVENTS</b>
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="#">Upcoming Events</a>
                  <a href="#">Featured Events</a>
                  <a href="#">Themes</a>
                  <a href="helpline.html">Event Helpline</a>
                  </div>
                  </div>
                  <div class="drop">
                    <button class="dropdown"><b>CATEGORY</b>
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="technical.html">Technical</a>
                      <a href="cultural.html">Cultural</a>
                      <a href="#">Online Event</a>
                      <a href="#">Webinar</a>
                      <a href="#">Workshops</a>
                      </div>
                      </div>
              <b><a class="active" href="contact.html">CONTACT</a></b>
    </div>
    </div>
    <div class="contact">
           <h2>MSC Events</h2>
           <p><li>This is not the Event Co-ordinator Contact page for any event.</li>
              <li>This information is to contact mscfest.com</li>
              <li>Incase if you are searching for Event coordinator number.</li>
              <li>Please contact the event co-ordinators number</li>
            </p>
            <p><i style="font-size:30px;padding-left: 90px;color:#1847B6 ;padding-top:10px;" class="fa">&#xf041;</i>MCA/MBA Block,KEC</p>
    <p><i style="font-size:30px;padding-left: 90px;color:#1847B6 ;padding-top:10px;" class="fa">&#xf095;</i>+91 9840059834, 8123456790</p>
    <p><i style="font-size:30px;padding-left: 90px;color:#1847B6 ;padding-top:10px;" class="fa">&#xf0e0;</i>info@mscfest.com</p>
         </div>
         <div class="form">
           <h2>Write Us</h2>
           <p>Have a question or comment? send us a message or contact us by mail at:</p><br>
           <form> 
    <p> 
    <label for="name">Name</label><br><br>
    <input id="name" v-model="name" type="text" name="name"> 
    </p> 
    <p> 
    <label for="phone">Phone Number</label><br><br>
    <input id="phone" v-model="name" type="number" name="phone"> 
    </p>
    <p> 
    <label for="mail">Email</label> <br><br>
    <input id="mail" v-model="mail" type="text" name="mail"> 
    </p> 
    <p> 
    <label for="comment">Your Comment</label> <br><br>
    <textarea cols="50" row="50"> </textarea>
    </p> <br>
    <p> 
    <input type="submit" value="SUBMIT CONTACT"> <br><br>
    </p> 
    </form>
      </div>

    </body>
        </html>